import logging
import sys

# Fill in your GitHub username here. If this is None, we won't push to GitHub
# unless you change GIT_REMOTE_NAME.
GITHUB_USER=None
GITHUB_REPO="postgres"

# http settings (be polite by identifying ourselves and limited rate)
SLOW_FETCH_SLEEP = 0 #1.0
USER_AGENT = "PostgreSQL patch tester at http://cfbot.cputube.org"
TIMEOUT = 10

LOCK_FILE="/tmp/cfbot-lock"

# database settings
DSN="cfbot"

# patch settings
PATCHBURNER_CTL="./cfbot_patchburner_chroot_ctl.sh"
CYCLE_TIME = 48.0
CONCURRENT_BUILDS = 20

# cirus settings
CIRRUS_USER="macdice"
CIRRUS_REPO="postgres"

# git settings
GIT_SSH_COMMAND="ssh"
#GIT_SSH_COMMAND="ssh -i ~/.ssh/cfbot_github_rsa"

if GITHUB_USER:
  GIT_REMOTE_NAME=f"https://github.com/{GITHUB_USER}/postgres.git"
else:
  GIT_REMOTE_NAME=None
#GIT_REMOTE_NAME="cfbot-repo"

# http output
WEB_ROOT="www"
CFBOT_APPLY_URL="https://cfbot.cputube.org/log/%s"

# log settings
logging.basicConfig(format='%(asctime)s %(message)s', stream=sys.stderr, level=logging.INFO)
