import logging
import sys

# which CI providers are enabled
CI_MODULES = ("cirrus",)

# http settings (be polite by identifying ourselves and limited rate)
#SLOW_FETCH_SLEEP = 1.0
#SLOW_FETCH_SLEEP = 0.1
SLOW_FETCH_SLEEP = 0.0
USER_AGENT = "cfbot from http://cfbot.cputube.org"
TIMEOUT = 20

LOCK_FILE="/tmp/cfbot-lock"

# database settings
DSN="cfbot"

# patch settings
PATCHBURNER_CTL="sudo /usr/local/sbin/cfbot_patchburner_ctl.sh"
CYCLE_TIME = 48.0
CONCURRENT_BUILDS = 4

# cirrus settings
CIRRUS_USER="postgresql-cfbot"
CIRRUS_REPO="postgresql"

# git settings
GIT_SSH_COMMAND="ssh -i ~/.ssh/cfbot_github_rsa"
GIT_REMOTE_NAME="cfbot-repo"

# work queue worker settings
CONCURRENT_QUEUE_WORKERS=4

# http output
WEB_ROOT="www"
CFBOT_APPLY_URL="http://cfbot.cputube.org/%s"

# log settings
logging.basicConfig(format='%(asctime)s %(message)s', filename="cfbot.log", level=logging.INFO)

